<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit_Profile</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="/static/style.css">
<!-- for profile -->

</head>  
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container" style="padding: 2% 10%; background-color: #00517C" >
      <div class="my-5">
        <h2 style="color: white">Edit Profile</h2>
      </div>
      <!-- Form START -->
      <form class="file-upload">
          <!-- Upload profile -->
          <br>
          <div style="float: right; margin-right: 5%;">
                <h4 style="margin-left: 20px;" >Upload your profile photo</h4>
                  <!-- Image upload -->
                  <div class="square position-relative display-2 mb-3">
                    <i class="fas fa-fw fa-user position-absolute top-50 start-50 translate-middle text-secondary"></i>
                  </div>
                  <!-- Button -->
                  <input type="file" id="customFile" name="file" hidden=""><br>
                  <label class="btn btn-success-soft btn-block" for="customFile" style="margin-left: 40%;color:#2B709A; cursor: pointer;"><b>Upload<b></label><br>
                  <button style="margin-left: 20%;" type="button" class="btn btn-danger-soft buttonA1">Remove</button>
          </div>
          <!-- detail form -->
        <div>
          <br>
                <h4 style="margin-left: 5%; color: gray;">Your detail</h4>
                <!-- First Name -->
                <div >
                  <label class="form-label">First Name *</label>
                  <input  type="text" class="form-control" placeholder="" aria-label="First name" value="Zoya">
                </div>
                <!-- Last name -->
                <div >
                  <label class="form-label">Last Name *</label>
                  <input type="text" class="form-control" placeholder="" aria-label="Last name" value="Rana">
                </div>
                <!-- Mobile number -->
                <div >
                  <label class="form-label">Mobile number *</label>
                  <input style="margin-left: 2%;" type="text" class="form-control" placeholder="" aria-label="Phone number" value="033352777">
                </div>
                <!-- Email -->
                <div c>
                  <label for="inputEmail4" class="form-label">Email *</label>
                  <input style="margin-left: 8.5%;" type="email" class="form-control" id="inputEmail4" value="zoya123@gmail.com">
                </div>
        </div> <!-- Row END -->

        <!-- Social media detail -->
        <div class="row mb-5 gx-5">
                <h4 style="margin-left: 5%; color: gray;">Social media detail</h4>
                <!-- Facebook -->
                <div>
                  <label class="form-label"><i class="fab fa-fw fa-facebook me-2 text-facebook"></i>Facebook *</label>
                  <input style="margin-left: 4%;" type="text" class="form-control" placeholder="" aria-label="Facebook" value="http://www.facebook.com">
                </div>
                <!-- Twitter -->
                <div>
                  <label class="form-label"><i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter *</label>
                  <input style="margin-left: 6%;" type="text" class="form-control" placeholder="" aria-label="Twitter" value="http://www.twitter.com">
                </div>
                <!-- Instragram -->
                <div>
                  <label class="form-label"><i class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram *</label>
                  <input style="margin-left: 3.8%;" type="text" class="form-control" placeholder="" aria-label="Instragram" value="http://www.instragram.com">
                </div>
              </div> <!-- Row END -->

          <!-- change password -->
          <div class="col-xxl-6">
                <h4 style="margin-left: 5%; color: gray;">Change Password</h4>
                <!-- Old password -->
                <div >
                  <label for="exampleInputPassword1" class="form-label">Old password *</label>
                  <input style="margin-left: 3%;" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <!-- New password -->
                <div >
                  <label for="exampleInputPassword2" class="form-label">New password *</label>
                  <input style="margin-left: 2.5%;" type="password" class="form-control" id="exampleInputPassword2">
                </div>
                <!-- Confirm password -->
                <div >
                  <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
                  <input style="margin-left: 0%;" type="password" class="form-control" id="exampleInputPassword3">
                </div>
              </div>
            <!-- Row END -->
        <!-- button -->
        <div class="editbutton">
          <button type="button" class="btn btn-primary btn-lg buttonA1">Update profile</button>
          <button type="button"  class="btn btn-danger btn-lg buttonN">Delete profile</button>
        </div>
        <br>
      </form> <!-- Form END -->
    </div>


</body>
</html>