
{% extends 'base.html' %}
{% block main %}
<section class="GContent">
  {% include 'left_user_menu.html' %}
  <!-- **********end -->
  <!-- *********************************************************************** all generlaist content show  -->
  <div class="G1">
    <br /><br />
    {% for news in news_list %}
    <div class="Gformat">
      <!-- name/time -->
      <a class="time" href=""><i class="far fa-clock"></i>{{news.views}} views.{{ news.article.created_at }}</a>
      <!-- news title -->
      <a href="{{ url_for('summary_view', news_id=news.id) }}" id="{{news.id}}">
        <h2>{{ news.title }}</h2>
      </a>
      <!-- news summary -->
      <h4>{{ news.article.description }}</h4>

      <!-- news image -->

      <!-- <div class="Gimg"><img src="/static/Images/pic1.jpg" /></div> -->

      <!-- share icons -->
      <div class="mediabuttons">
        <div class="flex">
          <button class="btn btn-secondary" onclick="myFunction()">
            TRANSLATE NEWS
          </button>
          <button class="btn btn-secondary" onclick="hiFunction('ComDIV_{{ news.id }}')">
            COMMENTS
          </button>
        </div>

        <a class="active" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-share"></i>&nbsp;SHARE</a>
        <div class="dropdown-menu">
          <a href="whatsapp://send?text=This is WhatsApp sharing example using link" data-action="share/whatsapp/share"
            target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a>

          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v15.0" nonce="gAKRLC1v">
            </script>
          <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width=""
            data-layout="button" data-action="like" data-size="small" data-share="true"></div>
        </div>

        <a href="{{url_for('bookmark',news_id = news.id)}}"><i class="fa fa-bookmark"
            aria-hidden="true"></i>&nbsp;BOOKMARK</a>
        <a class="active" href="#"><i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;LISTEN</a>
      </div>
      <div>
        <div id="myDIV">
          <p>
            ذرائع کے مطابق سول ملٹری براس نے ملکی سلامتی کی صورتحال اور فوج
            کے پیشہ ورانہ امور سمیت متعدد امور پر تبادلہ خیال کیا۔ ذرائع نے
            مزید بتایا کہ ملاقات وزیراعظم آفس میں ہوئی۔ آرمی چیف نے آخری بار
            اپریل میں وزیراعظم سے ملاقات کی تھی۔ وزیر اعظم آفس سے جاری بیان
            میں کہا گیا ہے کہ ملاقات کے دوران قومی سلامتی سے متعلق پیشہ
            ورانہ امور پر تبادلہ خیال کیا `گیا۔
          </p>
        </div>
        <!-- Comment section news -->
        <div id="ComDIV_{{ news.id }}" style="display:none;">
          {% include 'comment_section.html' %}
        </div>
      </div>
    </div>
    <hr />
    {% endfor %}
  </div>
  <!-- ******* end -->
  <!-- *********************************************************************** generalist tag info Start -->
  {% include 'right_popular_news.html'%}
  <!-- ******* end -->
</section>
<!-- for comment section news -->
<script>
  function hiFunction(value) {
    var x = document.getElementById(value);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
<!-- for translated news -->
<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<!-- for follow button  -->
<script type="text/javascript">
  $(document).ready(function () {
    $("#follow-button").click(function () {
      if ($("#follow-button").text() == "+ Follow") {
        // *** State Change: To Following ***
        // We want the button to squish (or shrink) by 10px as a reaction to the click and for it to last 100ms
        $("#follow-button").animate(
          { width: "-=10px" },
          100,
          "easeInCubic",
          function () { }
        );

        // then now we want the button to expand out to it's full state
        // The left translation is to keep the button centred with it's longer width
        $("#follow-button").animate(
          { width: "+=45px", left: "-=15px" },
          600,
          "easeInOutBack",
          function () {
            $("#follow-button").css("color", "#fff");
            $("#follow-button").text("Following");

            // Animate the background transition from white to green. Using JQuery Color
            $("#follow-button").animate(
              {
                backgroundColor: "#2EB82E",
                borderColor: "#2EB82E",
              },
              1000
            );
          }
        );
      } else {
        // *** State Change: Unfollow ***
        // Change the button back to it's original state
        $("#follow-button").animate(
          { width: "-=25px", left: "+=15px" },
          600,
          "easeInOutBack",
          function () {
            $("#follow-button").text("+ Follow");
            $("#follow-button").css("color", "#3399FF");
            $("#follow-button").css("background-color", "#ffffff");
            $("#follow-button").css("border-color", "#3399FF");
          }
        );
      }
    });
  });
</script>
{% endblock %}