<!DOCTYPE html>
<html lang="en">

<head>
  <title>News_Summary</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" href="/static/style.css" />

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!--Loading social media icons library  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

  <script type="text/javascript">
    $(document).ready(function () {
      $('[tooltip-glyph="glyph-tooltip-demo"]').tooltip({
        placement: "right",
      });
    });
  </script>
</head>

<body>
  <section class="GContent">
    {% include 'left_user_menu.html' %}
    <!-- **********end -->
    <!-- *********************************************************************** all generlaist content show  -->
    <div class="G1">
      <br /><br />
      {% for each_news in news %}
      <div class="Gformat">
        <!-- name/time -->
        <a class="time" href=""><i class="far fa-clock"></i>27 views.{{ each_news.article.created_at }}</a>
        <!-- news title -->
        <a href="{{ url_for('summary_view', news_id=each_news.id) }}" id="{{each_news.id}}">
          <h2>{{ each_news.title }}</h2>
        </a>
        <!-- news summary -->
        <h4>{{ each_news.article.description }}</h4>

        <!-- news image -->

        <!-- <div class="Gimg"><img src="/static/Images/pic1.jpg" /></div> -->

        <!-- share icons -->
        <div class="mediabuttons">
          <div class="flex">
            <button class="btn btn-secondary" onclick="myFunction()">
              TRANSLATE NEWS
            </button>
            <button class="btn btn-secondary" onclick="hiFunction('ComDIV_{{ each_news.id }}')">
              COMMENTS
            </button>
          </div>
          <a href="#" data-tooltip="Account Security"><i class="fa fa-fw fa-ellipsis-h"></i></a>

          <a class="active" data-toggle="dropdown" href="#"><i class="fa fa-fw fa-share"></i>&nbsp;SHARE</a>
          <div class="dropdown-menu">
            <a href="whatsapp://send?text=This is WhatsApp sharing example using link"
              data-action="share/whatsapp/share" target="_blank"><i class="fa-brands fa-whatsapp">WhatsApp</i></a>

            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous"
              src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v15.0" nonce="k7QjkGiK"></script>
            <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width=""
              data-layout="button" data-action="recommend" data-size="small" data-share="true"></div>
          </div>

          <a href="{{url_for('bookmark',news_id = each_news.id)}}"><i class="fa fa-bookmark"
              aria-hidden="true"></i>&nbsp;BOOKMARK</a>
          <a class="active" href="#"><i class="fa fa-volume-up" aria-hidden="true"></i>&nbsp;LISTEN</a>
        </div>
        <div>
          <div id="myDIV">
            <p>
              ذرائع کے مطابق سول ملٹری براس نے ملکی سلامتی کی صورتحال اور فوج
              کے پیشہ ورانہ امور سمیت متعدد امور پر تبادلہ خیال کیا۔ ذرائع نے
              مزید بتایا کہ ملاقات وزیراعظم آفس میں ہوئی۔ آرمی چیف نے آخری بار
              اپریل میں وزیراعظم سے ملاقات کی تھی۔ وزیر اعظم آفس سے جاری بیان
              میں کہا گیا ہے کہ ملاقات کے دوران قومی سلامتی سے متعلق پیشہ
              ورانہ امور پر تبادلہ خیال کیا `گیا۔
            </p>
          </div>
          <!-- Comment section news -->
          {% include 'comment_section.html' %}
        </div>
      </div>
      <hr />
      {% endfor %}
    </div>
    <!-- ******* end -->
    <!-- *********************************************************************** generalist tag info Start -->
    {% include 'right_popular_news.html'%}
    <!-- ******* end -->
  </section>
  <!-- for comment section news -->
  <script>
    function hiFunction(value) {
      var x = document.getElementById(value);
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>
  <!-- for translated news -->
  <script>
    function myFunction() {
      var x = document.getElementById("myDIV");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
  </script>

  <!-- for follow button  -->
  <script type="text/javascript">
    $(document).ready(function () {
      $("#follow-button").click(function () {
        if ($("#follow-button").text() == "+ Follow") {
          // *** State Change: To Following ***
          // We want the button to squish (or shrink) by 10px as a reaction to the click and for it to last 100ms
          $("#follow-button").animate(
            { width: "-=10px" },
            100,
            "easeInCubic",
            function () { }
          );

          // then now we want the button to expand out to it's full state
          // The left translation is to keep the button centred with it's longer width
          $("#follow-button").animate(
            { width: "+=45px", left: "-=15px" },
            600,
            "easeInOutBack",
            function () {
              $("#follow-button").css("color", "#fff");
              $("#follow-button").text("Following");

              // Animate the background transition from white to green. Using JQuery Color
              $("#follow-button").animate(
                {
                  backgroundColor: "#2EB82E",
                  borderColor: "#2EB82E",
                },
                1000
              );
            }
          );
        } else {
          // *** State Change: Unfollow ***
          // Change the button back to it's original state
          $("#follow-button").animate(
            { width: "-=25px", left: "+=15px" },
            600,
            "easeInOutBack",
            function () {
              $("#follow-button").text("+ Follow");
              $("#follow-button").css("color", "#3399FF");
              $("#follow-button").css("background-color", "#ffffff");
              $("#follow-button").css("border-color", "#3399FF");
            }
          );
        }
      });
    });
  </script>
</body>

</html>