<div class="S2" style="width: 30%; padding: 0 3px">
    <div class="S21" style="width: 90%; padding: 5%">
      <a href="/newsSummary"
        ><button class="buttonN1">News Summary</button></a>
      <a href="/generalistNews"
        ><button class="buttonA1">News Articles</button></a>
      <form action="{{ url_for('news_summary') }}", method="post">
        <div class="form-group d-flex align-items-center">
          {{ form.search(class = "w-100 my-5 form-control mx-5 rounded-pill", placeholder= form.search.label.text) }}
          {{ form.submit(class = "btn btn-secondary form-control h-25 w-25 align-self-center") }}
        </div>
      </form>
      <hr />
      <div class="pb-3">
        <div class="mb-3">
          <h4>Categories</h4>
        </div>
        <div class="d-flex flex-wrap m-n1">
          <a href="" class="btn btn-sm btn-outline-secondary m-1"
            >Politics</a
          >
          <a href="" class="btn btn-sm btn-outline-secondary m-1"
            >Business</a
          >
          <a href="" class="btn btn-sm btn-outline-secondary m-1"
            >Corporate</a
          >
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Sports</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1"
            >Education</a
          >
          <a href="" class="btn btn-sm btn-outline-secondary m-1"
            >Science</a
          >
          <a href="" class="btn btn-sm btn-outline-secondary m-1"
            >Technology</a
          >
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1"
            >Entertainment</a
          >
          <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
          <a href="" class="btn btn-sm btn-outline-secondary m-1"
            >Lifestyle</a
          >
        </div>
      </div>
      <hr />
      <div class="popular">
        <div class="mb-3">
          <h4>Popular News</h4>
        </div>
        <div style="color: black; text-align: left; margin-bottom: 12px">
          
          {% for popular_news in news %}
          <a href="{{ url_for('summary_view', news_id=popular_news.id) }}">{{ popular_news.title }}</a>
          <hr
            style="
              border: 0.1px dotted;
              margin-top: 7px;
              margin-bottom: 7px;
              color: lightgray;
            "/>
          {% endfor %}
          <a href="">The relationship between the current document. </a>
          <hr
            style="
              border: 0.1px dotted;
              margin-top: 7px;
              margin-bottom: 7px;
              color: lightgray;
            "/>

          <a href="">Meta-owned instant messaging app is developing.</a>
          <hr
            style="
              border: 0.1px dotted;
              margin-top: 7px;
              margin-bottom: 7px;
              color: lightgray;
            "/>
          <a href="">The relationship between the current document. </a>
          <hr style = "
              border: 0.1px dotted;
              margin-top: 7px;
              margin-bottom: 7px;
              color: lightgray;
            "/>
          <a href="">The relationship between the current document. </a>
          <hr style= "
              border: 0.1px dotted;
              margin-top: 7px;
              margin-bottom: 7px;
              color: lightgray;
            "/>

          <a href="">Meta-owned instant messaging app is developing.</a>
          <hr
            style="
              border: 0.1px dotted;
              margin-top: 7px;
              margin-bottom: 7px;
              color: lightgray;
            "/>
        </div>
      </div>
    </div>
    <br /><br /><br />
  </div>