<div class="S2" style="width: 30%; padding: 0 3px">
  <div class="S21" style="width: 90%; padding: 5%">
    <a href="{{ url_for('generalist_news') }}"><button class="buttonN1">News Articles</button></a>
    <a href="{{ url_for('news_summary') }}"><button class="buttonA1">News Summary</button></a>
    <form action="{{ url_for('generalist_news') }}" , method="post">
      {% if search_form %}
      <div class="form-group d-flex align-items-center">
        {{ search_form.search(class = "w-100 my-5 form-control mx-5 rounded-pill", placeholder= search_form.search.label.text) }}
        {{ search_form.submit(class = "btn btn-secondary form-control h-25 w-25 align-self-center") }}
      </div>
      {% endif %}
    </form>
    <hr />
    <div class="pb-3">
      <div class="mb-3">
        <h4>Categories</h4>
      </div>
      <div class="d-flex flex-wrap m-n1">
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Sports</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Technology</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Entertainment</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
        <a href="" class="btn btn-sm btn-outline-secondary m-1">Lifestyle</a>
      </div>
    </div>
    <hr />
    <div class="popular">
      <div class="mb-3">
        <h4>Popular News</h4>
      </div>
      <div style="color: black; text-align: left; margin-bottom: 12px">
        {% if popular_news %}
        {% for news in popular_news %}
        <a href="{{ url_for('summary_view', news_id=news.id) }}">{{ news.title }}</a>
        <hr style="
              border: 0.1px dotted;
              margin-top: 7px;
              margin-bottom: 7px;
              color: lightgray;
            " />
        {% endfor %}
        {% endif%}
      </div>
    </div>
  </div>
  <br /><br /><br />
</div>